# 프로젝트 문서
HELP.md

# Build output
/target/
build/

# Maven Wrapper
.mvn/
mvnw
mvnw.cmd

# Spring Boot 환경 설정 파일 (민감정보)
/src/main/resources/application.properties
/src/main/resources/application.yml
/src/main/resources/application-*.properties
/src/main/resources/application-*.yml
.env

# IDE: Spring Tool Suite
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IDE: IntelliJ
.idea/
*.iws
*.iml
*.ipr

# IDE: NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# IDE: VS Code
.vscode/

# OS별 캐시
.DS_Store
Thumbs.db

# 로그 파일
*.log
