<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
</head>
<body>
<div layout:fragment="content">
<h1>📚 Book List</h1>
<form th:action="@{/admin/books}" method="get">
    <label>
        <select name="field">
            <option value="all" th:selected="${field == null or field == 'all'}">전체</option>
            <option value="title" th:selected="${field == 'title'}">제목</option>
            <option value="author" th:selected="${field == 'author'}">작가</option>
            <option value="publisher" th:selected="${field == 'publisher'}">출판사</option>
        </select>
        <input type="text" name="keyword" placeholder="검색어를 입력하세요" />
    </label>
    <button type="submit">검색</button>
</form>
<!-- 검색 결과가 없을 때 문구 표시 -->
<th:block th:if="${#lists.isEmpty(books)}">
    <p>검색 결과가 없습니다.</p>
</th:block>

<table border="1" th:if="${not #lists.isEmpty(books)}">
    <!--테이블 제목 줄-->
    <tr>
        <th>ID</th><th>Title</th><th>Author</th><th>Price</th><th>Publisher</th><th>Description</th><th>Action</th>
    </tr>
    <tr th:each="book : ${books}"> <!--BookController에서 넘긴 데이터 model.addAttribute("books", books);-->
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.price}"></td>
        <td th:text="${book.publisher}"></td>
        <td th:text="${book.description}"></td>
        <td><a th:href="@{'/admin/books/edit/'+ ${book.id}}">✏ 수정</a></td>
        <td><a th:href="@{'/admin/books/delete/'+${book.id}}" onclick="return confirm('정말 삭제하시겠습니까?')">🗑 삭제</a></td>
    </tr>
</table>
</div>
</body>
</html>